/* transparency made to work with gradients */
/* Background Image */
.da-appMount {
	background: var(--background-image);
}

/* fixes */
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
	--background-accent: none;
}
